body {
    text-align: center;
    background-color: #011F3F;
  }
  
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  4%;
    color: #FEF2BF;
  }
  
  .container {
    display: block;
    width: 50%;
    margin: auto;
  
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .vermelho {
    background-color: red;
  }
  
  .verde {
    background-color: green;
  }
  
  .azul {
    background-color: blue;
  }
  
  .amarelo {
    background-color: yellow;
  }
  
  .btn.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }

  footer{
    font-family: 'Press Start 2P', cursive;
    color: #FEF2BF;

  }
  